
.head{
    display: flex;
    flex-wrap:nowrap;
    background: #669934;
    width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: flex;
    align-self: center;
    float:left;
    padding-left: 3%;
}
.contact{
    padding-left: 20%;
    float: right;
    margin-right: 5%;
}

@media only screen and (max-width: 1500px){
    .head{
        justify-content: center;
        display: flex;
        flex-wrap:wrap;
        background: #669934;
        width: 100%;
        margin-top: 0.5%;
    }
    .logo{
        padding-top: 0.5%;
        display: flex;
        align-self: center;
        float:left;
    }
    .contact{
        align-self: center;
        padding-right: 10%;
    }
    .block-2 {
        height: 62px;
    }
    .block {
        height: 62px;
    }
    .col {
        min-height: 50px;
    }
}

.container-fluid {
    width: 60%;
}

.container{
    width: 60%;
}

@media only screen and (max-width: 1500px){
    .container-fluid {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

.logo_image{
	max-width: 100%;
}

.adress {
	border: 5px solid;
	border-color: #669934;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 4%;
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	text-align: right;
	color: #b45602;
	text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
	background-image: linear-gradient(270deg, rgba(255,255,255,1.00), rgba(248,248,248,0.00));
}

.animation{
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	display: flex;
	width: 60%;
	margin:auto;
	padding-top: 2%;
}

.main {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;
}

.block{
    text-align: center;
    padding: 10px;
    border: solid 2px #FFF;
    color: #6F6858;
    text-decoration: none;
    cursor: pointer;
}

.block:hover{
    background-color: #669934;
    color: #6F6858;
}

.active{
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    font-family: Tahoma;
    text-decoration: none;
}

.active:hover{
  	background-color: #669934;
    text-decoration: none;
    color: #FFF;
}

.block-2{
    text-align: center;
    padding: 10px;
    border: solid 2px #FFF;
    color: #6F6858;
    cursor: pointer;
}

.block-2:hover{
    background-color: #669934;
    color: #6F6858;
}

.active-2{
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    font-family: Tahoma;
    text-decoration: none;
}

.active-2:hover{
    background-color: #669934;
    text-decoration: none;
    color: #000000;
}

.dropdown-content {
    margin-top: 7%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(102, 153, 52, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background: url(../images/fon_2.jpg);
    border: solid 2px #FFF;
}

.block-2:hover .dropdown-content {
    display: block;
}

.content{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 1500px) {
.content {
    width: 100%;
}
}


#con {
    display: flex;           /* establish flex container */
flex-direction: column;  /* make main axis vertical */
justify-content: space-around; /* center items vertically, in this case */
align-items: center;     /* center items horizontally, in this case */
height: 300px;
}

.foo{
    width: 60%;
}
.box {
    width: 300px;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}


/*@media (min-width: 992px) {*/
/*.main {*/
/*max-width: 960px;*/
/*}*/
/*}*/
/*@media (min-width: 768px){*/
/*.container {*/
/*max-width: 720px;*/
/*}*/
/*}*/
/*@media (min-width: 576px){*/
/*.main{*/
/*max-width: 540px;*/
/*}*/
/*}*/

.buttons {
    color:#454545;
    background:transparent;
    border-width:2px;
    border-style: solid;
    border-color: #454545;
    position:relative;
    margin:1em;
    padding:0.5em 1em;
    transition:all 0.3s ease-in-out;
    text-align:center;
}

.buttons:before, .buttons:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;height:1em;
    transition:all 0.3s ease-in-out
}

.buttons:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
}

.buttons:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
}

.buttons:hover:before, .buttons:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#fff
}

.buttons:hover {
    color:#353535;
    background:transparent;
    border-color:#fff
}

.batton {
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0a3c59;
    background: white;
    padding: 10.5px 21px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
}
.batton:hover {
    cursor: pointer;
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #59ff9b;
    background: -webkit-gradient(linear, left top, left bottom, from(#0a8a0a), to(#59ff9b));
    background: -webkit-linear-gradient(top, #0a8a0a, #59ff9b);
    background: -moz-linear-gradient(top, #0a8a0a, #59ff9b);
    background: -ms-linear-gradient(top, #0a8a0a, #59ff9b);
    background: -o-linear-gradient(top, #0a8a0a, #59ff9b);
    background-image: -ms-linear-gradient(top, #0a8a0a 0%, #59ff9b 100%);
    color: #fff;
}
/*CSS style for fade effects on parket_card view for items*/
.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.effect_fade:hover .image {
    opacity: 0.5;
}

.effect_fade:hover .middle {
    opacity: 1;
}
/*CSS style for fade effects on parket_card view for items*/

.tablink {
    background-color: transparent;
    color: black;
    float: left;
    border: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: #777;
}
#tabs{
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    padding: 50px 20px;
}
@media only screen and (max-width: 1500px) {
    .tablink {
        background-color: #777;
    }
    #tabs{
        width: 100%;
    }

}



